<header class="site-header">
  <div class="header-content">
    <a class="brand" href="/">
      <img class="brand-logo" src="/images/neosteo-image.png" alt="Logo Cabinet d'Ostéopathie">
      <span class="brand-name">Cabinet d'Ostéopathie</span>
    </a>

    <div class="practitioner-info">
      <div class="practitioner-name">M. Romain Gonzalez</div>
      <div class="practitioner-role">Ostéopathe</div>
    </div>
  </div>
</header>
